/* Navbar styles */
/* Navbar Styles */
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #00300a; /* Example background color */
  color: white;
  padding: 10px 20px;
  z-index: 1000; /* Ensures the navbar stays on top */
  display: flex;
  justify-content: space-between; /* Adjust based on your navbar design */
  align-items: center; /* Vertically centers items */
}

/* Add padding to the body or main content to avoid overlap */
.homepage-container {
  padding-top: 60px; /* Adjust according to your navbar height */
}
  
  .navbar-brand {
    font-size: 24px;
    color: #fff;
    font-weight: bold;
  }
  
  .navbar-links {
    display: flex;
    gap: 20px;
  }
  
  .navbar-link {
    text-decoration: none;
    font-size: 16px;
    color: #fff;
    padding: 8px 12px;
    transition: background-color 0.3s, border-radius 0.3s;
  }
  
  .navbar-link:hover {
    background-color: #21867a; /* Darker teal on hover */
    border-radius: 4px;
  }
  
  /* Responsive Design */
  @media (max-width: 768px) {
    .navbar {
      flex-direction: column;
      align-items: flex-start;
    }
  
    .navbar-links {
      flex-direction: column;
      gap: 10px;
      width: 100%;
    }
  
    .navbar-link {
      width: 100%;
      text-align: left;
      padding: 8px 16px;
    }
  }
  .map-container {
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 10px;
  background-color: #f9f9f9;
}
